.*
*.otf
backup
cache

Lvgl_Music_Player/ui_font_Cubic11.c
Lvgl_Music_Player/ui_font_NotoSansCJKhk.c
Lvgl_Music_Player/ui_img_winamp480x320_png.c
Lvgl_Music_Player/ui_img_winamp800x480_png.c

Winamp480x320/ui_font_NotoSansCJKhk.c
Winamp480x320/ui_font_NotoSerifCJKhk.c
Winamp480x320/ui_img_winamp800x480_png.c

Winamp800x480/ui_font_NotoSansCJKhk.c
Winamp800x480/ui_font_NotoSerifCJKhk.c
Winamp800x480/ui_img_winamp480x320_png.c
